body{
	background-image: url("../images/home/galaxy eye back.jpg"); 
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	background-attachment: fixed;
}

header{
	font-size:100px;
	color:darkred;
	text-align: center;
}
footer{
	color: red;
	text-align: center;
}
#bloc1{
	color: yellow;
	text-align:center;
}
#groupe1{
	margin-bottom:10%;
}
#bloc2{
	position: absolute;
	margin-top: 0%;
	margin-left:20%;
	text-align: center;
	font-size: 25px;
}
#bloc3{
	position:relative;
	padding-top:1%;
	margin-left:50%;
	margin-right: 10%;
	text-align: center;
	font-size: 25px;
}
#bloc4{
	position: absolute;
	margin-top: -2%;
	margin-left:20%;
	text-align: center;
	font-size: 25px;
}
#bloc5{
	position:relative;
	margin-left:50%;
	margin-right: 10%;
	text-align: center;
	font-size: 25px;
}
#yuma{
	width: 300px;
	height: 370px;
}
#zarc{
	width: 400px;
	height: 360px;
}
#play{
	width: 300px;
	height: 300px;
}
#dueldisk{
	width: 350px;
	height: 250px;
}